@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
} */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168);
  border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 131, 131);
}
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Ubuntu:wght@300;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::selection {
  color: rgb(51, 66, 228);
  background-color: black;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}
* {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
body {
  /* // font-family ? */
  overflow: overlay;
  line-height: 1.5;
  /* color: #fff; */
  /* background-color: black; */
  box-sizing: border-box;
}
main {
  z-index: 100;
}
canvas {
  z-index: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  /* width: 800px; */
  /* width: 100vw; */
  max-height: 100vh;
  /* border: 2px solid red; */
}
nav {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  height: 12.5vh;
  width: 100%;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  user-select: none;
}
nav a {
  font-size: 1.8rem;
}
nav img {
  height: 78%;
}
nav i {
  color: white;
  font-size: 2.3rem;
  transition: 0.3s;
}
.menu i {
  transition: 0.3s;
}
nav i:hover,
.menu i:hover {
  cursor: pointer;
  /* zoom in */
  transform: scale(1.1);
}
nav i:first-child {
  margin-right: auto;
  margin-left: 2.8vw;
}
nav i:last-child {
  margin-left: auto;
  margin-right: 2.8vw;
}
nav > * {
  margin: 0 37px;
}
nav i.nav-ele {
  /* display: none; */
  display: block;
}
.mobile-projects,
.mobile-dropdown {
  display: none;
}
.mobile-dropdown {
  height: 0;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}
.mobile-dropdown.active {
  height: 136px;
  opacity: 1;
  visibility: visible;
}
a.nav-project {
  display: block;
  font-size: 1.6rem !important;
  color: #3e3e5a !important;
  font-size: 2rem;
}
@media screen and (max-width: 720px) {
  nav {
    height: 10vh;
  }
  nav img {
    height: 70%;
  }
  nav a {
    display: none;
  }
  nav a.nav-ele {
    display: none;
  }
  nav i.nav-ele,
  .mobile-projects,
  .mobile-dropdown {
    display: block;
    visibility: visible;
  }
}
/* Blue underline Link */

h1 {
  font-size: 4.8rem;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 3.8rem;
  }
}
.blue-link {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  color: #4a93e0;
  display: inline-block;
  position: relative;
  /* align-content: center; */
  margin-top: 5%;
}
.blue-link a:visited {
  color: #4a93e0;
}
.blue-link::after {
  content: "";
  height: 2px;
  border-radius: 5px;
  width: 70%;
  background: #4a93e0;
  position: absolute;
  margin: auto;
  bottom: 7px;
  left: 0;
  right: 0;
  /* box-shadow: 0 -5px 5px 8px #1e4f83; */
}

/* anchor tags */
nav a {
  text-decoration: none;
  color: white !important;
  height: 100%;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
/* a:link, a:visited {
  text-decoration: none;
  color: #4a93e0;
}

a:visited {
  text-decoration: none;
  color: #4a93e0;
}

a:hover {
  text-decoration: none;
  color: #4a93e0;
}

a:active {
  text-decoration: none;
  color: #4a93e0;
} */
.loading-main {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: white;
  font-size: 2rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background: #c5cae9; */
}

.box {
  width: 300px;
  height: 300px;
  margin: auto;
  /* background: #1a237e; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.container .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.container .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.container .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}
/* Menu mobile */
.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  /* transform: translateX(-100%); */
  visibility: hidden;
  width: 100%;
  /* height: 100%; */
  height: 0;
  /* background: #24222a; */
  background-color: rgba(255, 255, 255, 0.94);
  color: #111;
  transition: 0.45s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.menu.open {
  /* transform: translateX(0); */
  height: 80vh;
  visibility: visible;
  opacity: 1;
}
.menu a {
  color: #121;
  font-size: 2.3rem;
  margin-bottom: 8px;
  font-weight: 400;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 3rem;
}
.menu .divider {
  width: 85%;
  height: 2px;
  background-color: black;
  margin: 10px;
  margin-bottom: 20px;
}
.menu .close {
  transition: 1s;
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  font-size: 3rem;
}
.menu .close:hover {
  cursor: pointer;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #121212;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
/*
*::-webkit-scrollbar-track {
  background:  #121212;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
} */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
  /* border: 3px solid #ddd; */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
main {
  padding-top: 14vh;
  /* padding-bottom: 14vh; */
  font-size: 1.7rem;
}
main img {
  max-width: 200px;
  height: auto;
  display: inline-block;
}

@media screen and (min-width: 500px) {
  .menu {
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    backdrop-filter: blur(8px);
  }
  .menu a {
    color: #eee;
  }
  .menu.open {
    width: 300px;
    height: 100%;
  }
  .menu h2,
  .menu .divider {
    display: none;
  }
}
a.admin {
  color: rgb(2, 181, 181) !important;
  font-size: 2.5rem;
}
a.admin::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(75, 184, 184);
  bottom: -1px;
  left: 0;
}
.signout {
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: rgb(101, 195, 195);
  padding: 3px 6px;
  transition: 0.3s;
}
.signout:not(nav .signout) {
  margin-top: 5px;
  font-size: 1.8rem;
}
.signout:hover {
  background-color: rgb(76, 154, 154);
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  nav .signout {
    display: none;
  }
}
:root {
  --font-family: "Kanit", sans-serif, system-ui, -apple-system, "Segoe UI",
    "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --line-height: 1.3;
  --font-weight: 400;
  --font-size: 16px;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);
}
@media (min-width: 576px) {
  :root {
    --font-size: 17px;
  }
}
@media (min-width: 768px) {
  :root {
    --font-size: 18px;
  }
}
@media (min-width: 992px) {
  :root {
    --font-size: 18px;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size: 18px;
  }
}
nav.invert {
  /* filter: invert(0.9); */
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
}
nav.invert a,
nav.invert i {
  filter: invert(0.9);
  color: white !important;
  /* background-blend-mode: difference; */
  /* background: white; */
}
